*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
  }
  
  body{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  main{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  /* Style the heading */
  h1 {
    text-align: center;
    color: #333;
  }
  
  /* Style the section headings */
  h2 {
    margin-top: 20px;
    color: #666;
  }
  
  /* Style the input and button */
  input[type="text"],
  button {
    padding: 5px 10px;
    font-size: 16px;
  }
  
  input[type="text"] {
    width: 70%;
    border: 1px solid #999;
  }
  
  button {
    background-color: #333;
    color: #fff;
    border: none;
  }
  
  /* Style the to-do list */
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
  }
  
  li:hover {
    background-color: #f0f0f0;
  }
  
  #input-todo{
    border-radius: 80px;
    border: none;
    padding: 10px 30px;
    font-size: medium;
    width: 100%;
  }
  
  #create-todo{
    border-radius: 80px;
    padding: 10px 20px;
    font-size: medium;
    cursor: pointer;
    color: #f3c0ff;
    background-color: white;
    border: none;
  }
  
  #create-todo:hover{
    background-color: #e013eb;
    color: white;
  
  }
  
  #create-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: #e680fd;
    padding: 1rem 5rem ;
    margin: 0%;
    width: 100%;
  }
  
  
   li{
    cursor: pointer;
   }
  